<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MyDbConnection" connectionString="Server=localhost;Database=WebSiteScrapper;User Id=NewSA;Password=Password@1234;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>